body .ui-button .ui-button-text {
    line-height: 1.1em;
    padding-bottom: .5em;
    padding-top: .55em;
}

body .fake-select-wrapper > a > span.ui-button-text {
    line-height: 1.1em;
    padding-bottom: .5em;
    padding-top: .55em;
}