{% extends "layout.html" %}
{% block content %}
<div class="private" id="page"></div>
<div id="temp"></div>
<script type="text/javascript">
    jQuery(function() {
        var default_language;

        default_language = jQuery.cookie("default_language") || {{ passthrough['user']['default_language']|tojson|safe }};

        Util.loadLanguageFile(function() {
            var el,
                controller,
                service,
                modal,
                mask,
                default_language;

            mask = new Mask(function() {
                modal = new Modal(function(modal) {
                    el         = document.getElementById("page");
                    service    = new Service();
                    controller = new LandingPageController(service, modal, el);

                    service.garminDomain = "{{ passthrough['site']['garmin_domain']|safe }}";
                    service.garminKey = {{ passthrough['site']['garmin_key']|tojson|safe }};
                    controller.userId = {{ passthrough['user']['user_id']|tojson|safe }};
                    controller.start();
                }, null, null);
            });
        }, default_language);
    });
</script>
{% endblock %}
