{% extends "layout.html" %}
{% block content %}
<div class="private" id="page"></div>
<div id="temp"></div>
<script type="text/javascript">
    jQuery(function() {

        var app = new App({
            "userId": {{ passthrough['user']['user_id']|tojson|safe }},
            "defaultLanguage": {{ passthrough['user']['default_language']|tojson|safe }},
            "garminDomain": "{{ passthrough['site']['garmin_domain']|safe }}",
            "garminKey": {{ passthrough['site']['garmin_key']|tojson|safe }}
        });

        app.start();
    });
</script>
{% endblock %}
