{% extends "layout.html" %}
{% block content %}
<div class="public" id="page"></div>
<div id="temp"></div>
<script type="text/javascript">
    jQuery(function() {

        var app = new PublicApp({
            "defaultLanguage": {{ public['default_language']|tojson|safe }},
            "defaultGpsFormat": {{ public['default_gps_format']|tojson|safe }},
            "defaultMeasurementSystem": {{ public['default_measurement_system']|tojson|safe }},
            "defaultGoogleMapType": {{ public['default_google_map_type']|tojson|safe }},
            "projectId": {{ public['project_id']|tojson|safe }}
        });

        app.start();
    });
</script>
{% endblock %}
